@import "tailwindcss";

@layer base {
  :root {
    --text: #252525;
    --background: #fbf9fb;
    --primary: #aac98d;
    --secondary: #cee0bd;
    --accent: #547838;
    --muted: #bfbfbf;
    --gray: #eeeeee;

    /* Buttons Variants */
    --button: #735fa3;
    --button-hover: #9689cb;

    --button-danger: #a35f97;
    --button-danger-hover: #b97bb2;

    --button-warn: #bea034;
    --button-warn-hover: #cdb542;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

input[required]:after {
  content: " *"; /* Añade un espacio antes del asterisco */
  color: red;
  font-weight: bold; /* Para mayor visibilidad */
}

.active-item {
  background-color: var(--secondary);
  color: var(--accent);
  border-radius: var(--radius-md);
}

.trSelected {
  background-color: var(--secondary);
  border-radius: var(--radius-md);
}
